extends layout

block content
	div.schedule
		h2.currentWeek Week #{ week }
		
		ul.list-wrapper
			
			li 
				//- p Morning
			li 
				//- p Evening
			li 
				//- p Night

		section.days
			div.shift
				h1 <span>#{ monDate }</span> MON 
				ul
					li.morning #{ morningRoster.day.Monday.assigned }
					li.evening #{ eveningRoster.day.Monday.assigned }
					li.night   #{ nightRoster.day.Monday.assigned }
		section.days
			div.shift
				h1 <span>#{ tueDate }</span> TUE 
				ul
					li.morning 	#{ morningRoster.day.Tuesday.assigned }
					li.evening 	#{ eveningRoster.day.Tuesday.assigned }
					li.night 	#{ nightRoster.day.Tuesday.assigned }
		section.days
			div.shift
				h1 <span>#{ wedDate }</span> WED 
				ul
					li.morning 	#{ morningRoster.day.Wednesday.assigned }
					li.evening 	#{ eveningRoster.day.Wednesday.assigned }
					li.night 	#{ nightRoster.day.Wednesday.assigned }
		section.days
			div.shift
				h1 <span>#{ thuDate }</span> THU 
				ul
					li.morning 	#{ morningRoster.day.Thursday.assigned }
					li.evening 	#{ eveningRoster.day.Thursday.assigned }
					li.night 	#{ nightRoster.day.Thursday.assigned }
		section.days
			div.shift
				h1 <span>#{ friDate }</span> FRI 
				ul
					li.morning 	#{ morningRoster.day.Friday.assigned }
					li.evening 	#{ eveningRoster.day.Friday.assigned }
					li.night 	#{ nightRoster.day.Friday.assigned }
		section.days
			div.shift
				h1 <span>#{ satDate }</span> SAT 
				ul
					li.morning 	#{ morningRoster.day.Saturday.assigned }
					li.evening 	#{ eveningRoster.day.Saturday.assigned }
					li.night 	#{ nightRoster.day.Saturday.assigned }
		section.days
			div.shift
				h1 <span>#{ sunDate }</span> SUN 
				ul
					li.morning 	#{ morningRoster.day.Sunday.assigned }
					li.evening 	#{ eveningRoster.day.Sunday.assigned }
					li.night 	#{ nightRoster.day.Sunday.assigned }
