extends layout

block content
	h1= 'English Support Email Assignment Scheduler'
	h2.currentWeek #{ week }

	div.schedule
		h1 Monday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

		h1 Tuesday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

		h1 Wednesday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

		h1 Thursday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

		h1 Friday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

		h1 Saturday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

		h1 Sunday 
			select.cs-select.cs-skin-border
				option(value='0', selected='true' disabled) #{ title }

